{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'components/form.css' %}">
{% endblock extracss %}

{% block title %}
words/index.html
{% endblock title %}

{% block main %}
<h1>words/index.html</h1>

<form method="post">
  {% csrf_token %}
  <div>
    <p><label for="spell">{{ form.spell.label }}</label></p>
    {{ form.spell }}
  </div>

  <div>
    <p><label for="meaning">{{ form.meaning.label }}</label></p>
    {{ form.meaning }}
  </div>

  <div>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
{% endblock main %}
